@tailwind base;
@tailwind components;
@tailwind utilities;




.hero{
  background: url(/space-bg.jpg) center center/cover;
  height: 100vh;
}

.skill{
  background: rgb(10,12,13);
background: linear-gradient(165deg, rgba(10,12,13,1) 0%, rgba(30,28,41,1) 51%, rgba(67,78,99,1) 100%);
}

.project-sec{
  background: url(/project-bg.jpg) center center/cover;
}